@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  min-height: 100%;
}

a {
  transition: color 0.2s ease;
}
