@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html, body {
  scroll-behavior: smooth;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

a {
  transition: color 0.2s ease;
}
